{{ form_start(form) }}
{{ form_row(form.nomModele) }}
{{ form_row(form.Marque) }}
{{ form_row(form.picture) }}

<button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
