{% extends 'base.html.twig' %}

{% block title %}Modèle{% endblock %}

{% block body %}
    <h1>Modèle</h1>

    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modele.id }}</td>
            </tr>
            <tr>
                <th>Nom de modèle</th>
                <td>{{ modele.nomModele }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ modele.Marque.nomMarque }}</td>
            </tr>

            <tr>
                <th>Nombre des voitures</th>
                <td>{{ modele.voitures|length  }}</td>
            </tr>
          </tbody>
    </table>

    <a class="btn btn-primary"href="{{ path('modele_index') }}">Retour</a>

    <a class="btn btn-primary" href="{{ path('modele_edit', {'id': modele.id}) }}">Modifier</a>
{% endblock %}
