{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}
{{ parent() }}
    <a class="btn btn-success" style="float:right;margin-bottom:17px;" 
    href="{{ path('marque_new') }}"><i class="bi bi-plus-circle"></i> Ajouter une nouvelle marque</a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>nom de marque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td>{{ marque.nomMarque }}</td>
                <td>
                    <a class="btn btn-warning" 
                    href="{{ path('marque_show', {'id': marque.id}) }}"><i class="bi bi-book"></i></a>
                    <a class="btn btn-info" href="{{ path('marque_edit', 
                    {'id': marque.id}) }}"><i class="bi bi-pencil-square"></i></a>
                    {{ include('marque/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de marque enregistrées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
