{% extends 'base.html.twig' %}

{% block title %}Carburant{% endblock %}

{% block body %}
    <h1>Liste de type des carburants enregistrés</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Type de carburant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carburant in carburants %}
            <tr>
                <td>{{ carburant.nomCarburant }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('carburant_show', {'id': carburant.id}) }}">Afficher</a>
                    <a class="btn btn-info" href="{{ path('carburant_edit', {'id': carburant.id}) }}">Modifier</a>
                    {{ include('carburant/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de carburant enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('carburant_new') }}">Ajouter un nouveau type de carburant</a>
{% endblock %}
