{% extends 'base.html.twig' %}

{% block title %}Carburant{% endblock %}

{% block body %}
    <h1>Carburant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carburant.id }}</td>
            </tr>
            <tr>
                <th>NomCarburant</th>
                <td>{{ carburant.nomCarburant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('carburant_index') }}">back to list</a>

    <a href="{{ path('carburant_edit', {'id': carburant.id}) }}">edit</a>

    {{ include('carburant/_delete_form.html.twig') }}
{% endblock %}
